@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Gentium+Book+Basic:400,700&display=swap");
h3 {
  font-size: 2.25rem;
  font-family: "Yeseva One", cursive;
}

/* Wobble Horizontal */
@-webkit-keyframes hvr-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  33.3% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes hvr-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  33.3% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
input[type=date]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  display: none;
}

input[type=time]::-webkit-clear-button {
  display: none;
}

input[type=date]::-webkit-calendar-picker-indicator {
  color: rgba(0, 0, 0, 0);
  opacity: 1;
  display: block;
  background: url("img/calendarIcon.png") no-repeat;
  background-size: contain;
  width: 11px;
  height: 11px;
  border-width: thin;
  margin-top: -3px;
  margin-right: 10px;
}

html, body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

body {
  -webkit-text-stroke: 0.1px;
}
body .header {
  min-height: 750px;
  width: 100%;
  background: url("img/headerBackground.png") center center no-repeat;
  background-size: 100% 100%;
}
body .header .headerContent {
  box-shadow: inset 0 200px 200px -100px rgba(0, 0, 0, 0.6);
}
body .header .headerContent .upHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  transition: 0.6s ease-out;
}
body .header .headerContent .upHeader .logoDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 9px;
  width: 153px;
  height: 93px;
}
body .header .headerContent .upHeader .logoDiv .logo {
  width: 153px;
  height: 90px;
  background: url("img/logo.png") center center no-repeat;
  background-size: 100% 100%;
  opacity: 0.9;
}
body .header .headerContent .upHeader .navi {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
body .header .headerContent .upHeader .navi nav {
  height: 100%;
}
body .header .headerContent .upHeader .navi nav ul {
  display: flex;
  height: 100%;
  flex-direction: row;
}
body .header .headerContent .upHeader .navi nav ul a {
  text-decoration: none !important;
}
body .header .headerContent .upHeader .navi nav ul li {
  cursor: pointer;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Gentium Book Basic", serif;
  font-weight: bold;
  font-size: 1.313rem;
  color: rgba(255, 255, 255, 0.7);
  padding-left: 15px;
  padding-right: 15px;
  transition: 0.7s all ease-out;
  border-top: 6px solid transparent;
}
body .header .headerContent .upHeader .navi nav ul li:hover {
  color: white;
  border-top: 6px solid rgba(255, 255, 255, 0.71);
}
body .header .headerContent .upHeader .navi nav ul li:nth-child(1),
body .header .headerContent .upHeader .navi nav ul li:nth-child(2),
body .header .headerContent .upHeader .navi nav ul li:nth-child(3),
body .header .headerContent .upHeader .navi nav ul li:nth-child(4),
body .header .headerContent .upHeader .navi nav ul li:nth-child(5) {
  margin-right: 10px;
  padding-top: 17px;
}
body .header .headerContent .upHeader .navi nav ul li:nth-child(6) {
  margin-right: 7px;
}
body .header .headerContent .upHeader .navi .active .hamburger {
  background: transparent !important;
}
body .header .headerContent .upHeader .navi .active .hamburger::before {
  transform: rotate(45deg);
  top: 0px !important;
}
body .header .headerContent .upHeader .navi .active .hamburger::after {
  transform: rotate(-45deg);
  top: 0px !important;
}
body .header .headerContent .upHeader .navi .hamburgerContainer {
  display: none;
  height: 25px;
  width: 30px;
  cursor: pointer;
  position: relative;
  top: 8px;
  left: -10px;
}
body .header .headerContent .upHeader .navi .hamburgerContainer .hamburger {
  width: 30px;
  height: 5px;
  background: #dab33e;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
body .header .headerContent .upHeader .navi .hamburgerContainer .hamburger::before, body .header .headerContent .upHeader .navi .hamburgerContainer .hamburger::after {
  content: "";
  width: 30px;
  height: 5px;
  background: #dab33e;
  position: absolute;
  transition: 0.3s ease-out;
}
body .header .headerContent .upHeader .navi .hamburgerContainer .hamburger::before {
  top: -10px;
}
body .header .headerContent .upHeader .navi .hamburgerContainer .hamburger::after {
  top: 10px;
}
body .header .headerContent .upHeader .navi .socialNavi {
  color: #dab33e;
  font-size: 1.313rem;
  padding-top: 17px;
  cursor: pointer;
}
body .header .headerContent .upHeader .navi .socialNavi i:nth-child(1),
body .header .headerContent .upHeader .navi .socialNavi i:nth-child(2) {
  margin-right: 16px;
}
body .header .headerContent .upHeader .navi .socialNavi i {
  transition: all 0.4s ease-out;
}
body .header .headerContent .upHeader .navi .socialNavi i:hover {
  transform: scale(1.3);
}
body .header .downHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
body .header .downHeader .heading {
  width: 70%;
  margin-top: 120px;
  position: relative;
}
body .header .downHeader .heading::before {
  content: "";
  width: 250px;
  height: 50px;
  background: url("img/decor.png") center center no-repeat;
  position: absolute;
  bottom: -100px;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.7;
}
body .header .downHeader .heading p {
  font-size: 5.625rem;
  font-family: "Yeseva One", cursive;
  color: rgba(255, 255, 255, 0.922);
  text-shadow: 0 1px 2px rgba(1, 1, 1, 0.64);
  text-align: center;
  line-height: 1.2;
}
body .header .buttonsHeader {
  margin-top: 108px;
}
body .header .buttonsHeader button {
  width: 226px;
  height: 55px;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  color: rgb(255,255,255);
  font-weight: 100;
}
body .header .buttonsHeader .book {
  border: 1px black solid;
  background-color: rgba(0, 0, 0, 0.602);
  margin-right: 26px;
  transition: 0.3s ease-out;
}
body .header .buttonsHeader .book:hover {
  background-color: rgba(0, 0, 0, 0.802);
}
body .header .buttonsHeader .see {
  border: 1px white solid;
  background-color: rgba(255, 255, 255, 0.178);
  transition: 0.3s ease-out;
}
body .header .buttonsHeader .see:hover {
  background-color: rgba(255, 255, 255, 0.418);
}
body .content .firstContentDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: url("img/plateBackground.png") center center;
}
body .content .firstContentDiv .plateInfo {
  text-align: center;
  width: 30%;
  opacity: 0;
}
body .content .firstContentDiv .plateInfo h3 {
  color: #cc9900;
  position: relative;
  margin-bottom: 50px;
}
body .content .firstContentDiv .plateInfo h3::before {
  content: "";
  width: 250px;
  height: 50px;
  background: url("img/decor2.png") center center no-repeat;
  position: absolute;
  top: 65px;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.7;
}
body .content .firstContentDiv .plateInfo p {
  font-size: 1rem;
  font-family: "Lato";
  color: #4c4c4c;
  line-height: 1.5;
  margin-top: 70px;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}
body .content .firstContentDiv .plateInfo img {
  margin-right: -70px;
  margin-top: 55px;
}
body .content .firstContentDiv .plate {
  background: url("img/plate.png") center center no-repeat;
  background-size: cover;
  width: 621px;
  height: 625px;
  margin-top: 59px;
  margin-left: 10%;
  opacity: 0;
}
body .content .secondContentDiv {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 700px;
  background: url("img/plantBackground.png") center center no-repeat;
  background-size: cover;
}
body .content .secondContentDiv .ingredient {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.671);
  width: 36%;
  min-height: 557px;
  text-align: center;
  margin-right: 0px;
  margin-bottom: -120px;
}
body .content .secondContentDiv .ingredient h3 {
  color: white;
  margin-bottom: 60px;
  position: relative;
}
body .content .secondContentDiv .ingredient h3::before {
  content: "";
  width: 250px;
  height: 50px;
  background: url("img/decor3.png") center center no-repeat;
  position: absolute;
  top: 65px;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.7;
}
body .content .secondContentDiv .ingredient p {
  font-family: "Lato";
  color: white;
  line-height: 1.5;
  width: 75%;
  margin-bottom: 73px;
}
body .content .secondContentDiv .ingredient .ingredientsImg img:nth-child(1),
body .content .secondContentDiv .ingredient .ingredientsImg img:nth-child(2) {
  margin-right: 30px;
}
body .content .menuDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 996px;
  background: url("img/patternBackground.png") center center no-repeat;
  font-family: "Yeseva One", cursive;
  padding-bottom: 100px;
}
body .content .menuDiv .appetisers, body .content .menuDiv .starters, body .content .menuDiv .salads, body .content .menuDiv .mainDishes {
  opacity: 0;
}
body .content .menuDiv .mainDishes .dish:nth-child(3),
body .content .menuDiv .salads .dish:nth-child(3) {
  border: 1px solid rgba(200, 159, 45, 0.3);
  position: relative;
}
body .content .menuDiv .mainDishes .dish:nth-child(3)::after,
body .content .menuDiv .salads .dish:nth-child(3)::after {
  content: "Special";
  color: white;
  background: rgba(200, 159, 45, 0.6);
  font-family: "Lato";
  width: 69px;
  height: 22px;
  font-size: 0.875rem;
  padding: 6px 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -22px;
  right: -1px;
}
body .content .menuDiv p {
  font-family: "Lato";
}
body .content .menuDiv .namePrice {
  color: #c89f2d;
  border-bottom: 1px solid rgba(200, 159, 45, 0.5);
  font-size: 1.3125rem;
  margin-bottom: 14px;
  padding-bottom: 12px;
}
body .content .menuDiv .namePrice span:nth-child(2) {
  float: right;
}
body .content .menuDiv .dish {
  margin-top: 14px;
  padding: 12px;
}
body .content .menuDiv h3 {
  text-align: center;
  color: #cc9900;
  position: relative;
  margin-top: 73px;
  margin-bottom: 73px;
}
body .content .menuDiv h3::before {
  content: "";
  width: 250px;
  height: 50px;
  background: url("img/decor2.png") center center no-repeat;
  position: absolute;
  top: 65px;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.7;
}
body .content .menuDiv .leftMenu {
  margin-right: 150px;
  margin-right: 9.5%;
}
body .guest {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 819px;
  background: url("img/guestBackground.png") center center no-repeat;
  background-size: cover;
}
body .guest .guestContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.671);
  width: 50%;
  min-height: 557px;
  text-align: center;
  opacity: 0;
}
body .guest .guestContent h3 {
  color: white;
  margin-bottom: 60px;
  position: relative;
}
body .guest .guestContent h3::before {
  content: "";
  width: 250px;
  height: 50px;
  background: url("img/decor3.png") center center no-repeat;
  position: absolute;
  top: 65px;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.6;
}
body .guest .guestContent p {
  font-family: "Gentium Book Basic", serif;
  color: #dde0df;
  font-weight: bold;
  line-height: 1.8;
  width: 80%;
  margin-bottom: 53px;
  font-size: 1.5625rem;
  text-align: center;
  position: relative;
}
body .guest .guestContent p::after {
  content: "“";
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-family: "Georgia";
  font-size: 5rem;
  color: rgba(242, 244, 244, 0.471);
  position: absolute;
  top: 0;
  left: -50px;
}
body .guest .guestContent span {
  font-size: 1.1rem;
  font-family: "Lato";
  color: white;
}
body .reserve {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: url("img/plateBackground.png") center center;
  min-height: 711px;
}
body .reserve .leftReserve {
  margin-right: 73px;
}
body .reserve .leftReserve img:nth-child(1) {
  margin-right: 26px;
}
body .reserve .rightReserve {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  text-align: center;
  margin-top: -76px;
}
body .reserve .rightReserve h3 {
  color: #cc9900;
  margin-bottom: 60px;
  position: relative;
}
body .reserve .rightReserve h3::before {
  content: "";
  width: 250px;
  height: 50px;
  background: url("img/decor2.png") center center no-repeat;
  position: absolute;
  top: 65px;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.6;
}
body .reserve .rightReserve p {
  font-family: "Lato";
  font-weight: 600;
  color: #4c4c4c;
  line-height: 1.5;
  width: 90%;
}
body .reserve .rightReserve p:nth-child(2) {
  margin-bottom: 10px;
}
body .reserve .rightReserve form {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .reserve .rightReserve form .firstRow,
body .reserve .rightReserve form .secondRow {
  display: flex;
  flex-direction: row;
}
body .reserve .rightReserve form .firstRow .input:nth-child(2),
body .reserve .rightReserve form .select {
  margin-left: 30px;
}
body .reserve .rightReserve form .firstRow {
  margin-top: 47px;
}
body .reserve .rightReserve form .secondRow {
  margin-top: 29px;
}
body .reserve .rightReserve form .input,
body .reserve .rightReserve form .select {
  display: flex;
  flex-direction: column;
}
body .reserve .rightReserve form label {
  font-size: 0.875rem;
  font-family: "OpenSans", sans-serif;
  color: #c9a131;
  font-weight: bold;
  margin-bottom: 8px;
}
body .reserve .rightReserve form input,
body .reserve .rightReserve form select {
  width: 198px;
  height: 34px;
  border: 1px solid #c8c6c6;
  padding-left: 16px;
  font-style: italic;
}
body .reserve .rightReserve form input:focus,
body .reserve .rightReserve form select:focus {
  border: 1px solid #c9a131;
}
body .reserve .rightReserve form .date {
  font-family: Helvetica, "FontAwesome", sans-serif;
  font-style: normal;
  cursor: pointer;
}
body .reserve .rightReserve form select {
  padding-left: 13px;
}
body .reserve .rightReserve form select {
  color: gray;
}
body .reserve .rightReserve form button {
  border: 1px solid #c89f2d;
  background-color: rgba(200, 159, 45, 0.8);
  width: 198px;
  height: 34px;
  color: white;
  margin-top: 33px;
  font-size: 18px;
  transition: all 0.3s ease-in;
}
body .reserve .rightReserve form button:hover, body .reserve .rightReserve form button:focus, body .reserve .rightReserve form button:active {
  -webkit-animation-name: hvr-wobble-horizontal;
  animation-name: hvr-wobble-horizontal;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  background-color: #c89f2d;
}
body .footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #191919;
  min-height: 321px;
}
body .footer div {
  width: 19%;
  text-align: center;
}
body .footer div h4 {
  color: white;
  position: relative;
  font-family: "Yeseva One", cursive;
  font-size: 1.3125rem;
}
body .footer div h4::before {
  content: "";
  width: 250px;
  height: 50px;
  background: url("img/decor3.png") center center no-repeat;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.5;
}
body .footer .aboutUs {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
body .footer .aboutUs p {
  width: 90%;
}
body .footer .aboutUs p b {
  font-weight: bold;
}
body .footer .open .cards {
  width: 100%;
  margin-top: 57px;
}
body .footer .open .cards i:nth-child(1), body .footer .open .cards i:nth-child(2), body .footer .open .cards i:nth-child(3) {
  margin-right: 11px;
}
body .footer .location .social {
  width: 100%;
  margin-top: 57px;
}
body .footer .location .social i:nth-child(1), body .footer .location .social i:nth-child(2) {
  margin-right: 11px;
}
body .footer .open p span, body .footer .location p {
  font-weight: bold;
}
body .footer .location, body .footer .open {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
body .footer .location i, body .footer .open i {
  color: white;
  font-size: 1rem;
}
body .footer .aboutUs, body .footer .open, body .footer .location {
  height: 200px;
}
body .footer p {
  font-family: "OpenSans", sans-serif;
  color: white;
  line-height: 1.4;
}
body .footer .aboutUs p, body .footer .open p:nth-child(2), body .footer .location p:nth-child(2) {
  margin-top: 60px;
}

@media only screen and (min-width: 2200px) {
  html {
    font-size: 21px !important;
  }
}
@media only screen and (min-width: 2000px) {
  html {
    font-size: 18px;
  }
}
@media screen and (max-width: 1300px) {
  .footer {
    justify-content: space-around !important;
  }
}
@media only screen and (max-width: 1160px) {
  .leftReserve {
    margin-right: 20px !important;
  }

  .rightReserve {
    width: 40% !important;
  }
}
@media screen and (max-width: 1125px) {
  h3 {
    margin-top: 20px;
  }

  .ingredientsImg {
    margin-bottom: 20px;
  }
  .ingredientsImg img {
    margin-right: 0px !important;
  }

  .guest span {
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 1000px) {
  body .header .headerContent .upHeader .navi {
    position: relative;
  }

  body .header .headerContent .upHeader .navi nav {
    display: none;
    position: absolute;
    top: 80px;
    left: -140px !important;
    height: auto;
  }
  body .header .headerContent .upHeader .navi nav ul {
    flex-direction: column;
  }
  body .header .headerContent .upHeader .navi nav ul li {
    padding-top: 5px !important;
    padding-right: 0px;
    justify-content: flex-end !important;
    border-bottom: 6px solid rgba(255, 255, 255, 0);
    text-transform: uppercase;
  }
  body .header .headerContent .upHeader .navi nav ul li:hover {
    border-top: 6px solid transparent;
    border-bottom: 6px solid rgba(255, 255, 255, 0.71);
  }

  .socialNavi {
    display: none;
  }

  .hamburgerContainer {
    display: block !important;
  }

  .buttonsHeader {
    margin-bottom: 20px;
  }

  .header {
    background-size: cover !important;
  }

  .upHeader {
    margin-bottom: 120px;
  }

  .heading {
    width: 100% !important;
    margin-top: 0px !important;
    margin-bottom: 20px;
  }

  .buttonsHeader .book {
    margin-right: 0px !important;
    margin-bottom: 15px;
  }

  .content .firstContentDiv {
    flex-direction: column !important;
  }
  .content .firstContentDiv .plateInfo {
    width: 100% !important;
    order: 2;
    margin-bottom: 50px !important;
  }
  .content .firstContentDiv .plate {
    order: 1;
  }
  .content .secondContentDiv {
    justify-content: center !important;
  }
  .content .secondContentDiv .ingredient {
    margin-right: 0px !important;
    width: 90% !important;
  }

  .guest .guestContent {
    width: 90% !important;
  }
  .guest .guestContent h3 {
    margin-top: 20px;
  }
  .guest .guestContent p::after {
    left: -35px !important;
  }
  .guest .guestContent span {
    margin-bottom: 20px;
  }

  .reserve {
    flex-direction: column !important;
  }
  .reserve .leftReserve {
    display: flex;
    margin-right: 0px !important;
  }
  .reserve .leftReserve img {
    margin-right: 0px !important;
    width: 100% !important;
  }
  .reserve .rightReserve {
    width: 100% !important;
    margin: 20px 0px !important;
  }
  .reserve .rightReserve form {
    font-size: 1.3rem;
  }
  .reserve .rightReserve form .input input, .reserve .rightReserve form .number {
    width: 250px;
    height: 50px;
  }
  .reserve .rightReserve form .firstRow .input:nth-child(2), .reserve .rightReserve form .secondRow .select {
    margin-left: 0px !important;
    margin-top: 5px;
  }
  .reserve .rightReserve form .firstRow, .reserve .rightReserve form .secondRow {
    flex-direction: column !important;
  }

  .footer {
    flex-direction: column !important;
  }
  .footer .location {
    order: 1;
    margin-top: 20px;
  }
  .footer .open {
    order: 2;
  }
  .footer .aboutUs {
    order: 3;
    margin-bottom: 20px;
    height: auto !important;
  }
  .footer div {
    width: auto !important;
  }
  .footer .cards, .footer .social {
    margin-top: 20px !important;
  }

  .leftMenu {
    margin: 0px !important;
    margin-right: 20px !important;
  }
}
@media only screen and (max-width: 900px) {
  .menuDiv {
    margin: 0px !important;
  }
}
@media only screen and (max-width: 700px) {
  .leftReserve {
    display: block !important;
  }
  .leftReserve img:nth-child(1) {
    margin: 5px 0;
  }
}
@media screen and (max-width: 750px) and (min-width: 473px) {
  .header {
    min-height: 550px !important;
  }
}
@media only screen and (max-width: 750px) {
  .heading p {
    font-size: 3.5rem !important;
  }
}
@media only screen and (max-width: 600px) {
  .menuDiv {
    flex-direction: column !important;
    padding-bottom: 40px !important;
  }
  .menuDiv .leftMenu {
    margin-right: 0px !important;
  }
  .menuDiv .leftMenu .appetisers {
    margin-top: -20px;
  }
}

/*# sourceMappingURL=style.css.map */
